<h1 class="header">Welcome to the best simple Angular app ever!!</h1>

<div>
<form>
  <div class="form-group">
    <label for="inputName">Name:</label>
    <input type="text" class="form-control" name="inputName"  placeholder="Enter model" [(ngModel)]="currName">
  </div>
  <div class="form-group">
    <label for="inputSport">Sport:</label>
    <input type="text" class="form-control"  name="inputSport" placeholder="Enter sport" [(ngModel)]="currSport">
  </div>
        <label for="inputSport">Status:</label>
<div class="form-check form-switch">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    id="flexSwitchCheckDefault"
    [checked]="status"
    (click) = "updateStatus()"
  />
  <label  *ngIf="!status" class="form-check-label" for="flexSwitchCheckDefault"
    >Not Active</label
  >
  <label  *ngIf="status" class="form-check-label" for="flexSwitchCheckDefault"
    >Active</label
  >

</div>
  <button type="submit" class="btn btn-primary" (click)="onAddModel()" >Add Model</button>
</form>
</div>
<div>
<h4>Current Models List:</h4>
<div>
  <ul>
    <li *ngFor="let model of models" >
      {{ model.name}} ({{ model.sport}}) <span *ngIf="model.active">is active</span><span *ngIf="!model.active">is not active</span>
  </ul>
</div>
</div>
